html{
  font-size: 10px;
  /* background-color: #1F1F1F; */
}

/* General Text */

h1{
  color: #8F8ACD;
  font-family: "Champagne & Limousines";
  font-size: 6rem;
  margin-bottom: 2rem;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  margin-top: 4rem;
  text-align: left;
}

h2 {
  color: #8B8100;
  font-family:"Madeleina Sans";
  font-size: 4rem;
  margin-bottom: 2rem;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  margin-top: 4rem;
}

h4{
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

p{
  color: #2a2a2a;
  font-family: "WellrockSlab";
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 170%;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

a {
  color: #8F8ACD;
  font-family: "WellrockSlabBold";
  font-weight: bold;
  text-decoration: none;
}

br {
  line-height: .2rem;
}

.navbar{
  background-image: url(../images/mobile-header-rectangle.png);
  height: 10.4rem;
  margin-left: 0px;
  margin-right: 0px;
}

.navigation p{
  color: #8B8100;
  display: inline-flex;
  float: right;
  font-family: "WellrockSlab";
  font-size: 1.5rem;
  margin-left: 0rem;
  margin-top: 5.3rem;
  text-align: right;
}

.about{
  margin-right: 2rem;
}

.projects{
  margin-right: 2rem;
}

.connect{
  margin-right: 3rem;
}

.personal-logo{
  margin-left: 3.8rem;
  padding-top: 2rem;
  width: 30%;
}

/* Trunk Summary */

.trunk-summary{
  background-image: url("../images/mobile-summary-background.png");
  background-repeat: no-repeat;
}

section.trunk-title h1{
  color: #8B8100;
  font-family: "Champagne & Limousines";
  font-size: 7.5rem;
  margin-bottom: auto;
  margin-top: 2rem;
  text-align: center;
}


.trunk-underline{
  align-items: center;
  margin-top: auto;
  width: 30%;
}

.trunk-image{
  display: block;
  margin-left: .5rem;
  margin-right: .5rem;
  padding-top: 4.6rem;
  width: 80%;
}


.prototype-link{
  color: #8F8ACD;
  font-size: 2.2rem;
  font-weight: lighter;
  letter-spacing: .2rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  text-align: center;
  text-decoration: none;
}

.trunk-summary p {
  color: #fff;
  font-weight: 100;
}

.trunk-summary h1{
  margin-bottom: 4.7rem;
  margin-top: 7rem;
}

.trunk-summary h4{
  display: none;
}

section.problem h2{
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  margin-top: 1rem;

}

problem-sol h4{
  display: none;
}

section.solution h2{
  margin-bottom: 4rem;
  margin-left: 0rem;
  margin-top: 1rem;

}

section.problem-sol{
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
}

section.problem p{
  margin-right: 4rem;
  padding-right: 0rem;
}

section.solution p{
  margin-left: 0rem;
}


/* Process */

.process h1{
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.research h2

.competitive-analysis img{
  float: right;
}


.competitive p{
  float: left;
  margin-bottom: 4rem;
  width: 55%;
}

.competitive2 p{
  float: left;
}

.user-personas h2{
  display:inline-flex;
}

.wireframes-and-usability-tests h3{
  font-size: 2rem;
  color: #8F8ACD;
  font-family:"Champagne & Limousines";
  margin-bottom: 2rem;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  margin-top: 4rem;
}

.wireframes-and-usability-tests img{
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

.branding img{
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

.bw-trunk-logo img{
  margin-left: 0rem;
  margin-right:0rem;
}

.trunk-logos{
  margin-bottom: 5rem;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

/* Footer */
footer{
    background-image: url("../images/mobile-footer-background.png");
    background-repeat: no-repeat;
}

.footer-connect h2{
  color: #9486B5;
  font-family: "Champagne & Limousines";
  font-size: 3rem;
  letter-spacing: .35rem;
  padding-top: 5rem;
  text-align: center;
}

.footer-icons {
  margin-bottom: 2rem;
}

.linkedin {
  float: left;
  margin-left: 5.7rem;
}

.email {
  float: left;
  margin-left: 3.7rem;
}

.twitter {
  float: left;
  margin-left: 3.7rem;
}

.github {
  float: right;
  margin-right: 5.7rem;
}

.designed h5{
  color: #fff;
  font-family: "WellrockSlab";
  font-size: 1.3rem;
  letter-spacing: .1rem;
  padding-bottom: 40rem;
  padding-top: 7rem;
  text-align: center;
}






/* html{
  font-size: 10px;
} */


/* General Text */

/* h1{
  color: #8F8ACD;
  font-size: 7.5rem;
  text-align: left;
  font-family: "Champagne & Limousines";
  margin-left: 19.8rem;
  margin-right: 19.8rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 6.5rem;
  color: #8B8100;
  margin-left: 19.8rem;
  margin-right: 19.8rem;
  font-family:"Madeleina Sans";
  margin-bottom: 4rem;
  margin-top: 8rem;
}

h4{
  margin-left: 19.8rem;
  margin-right: 19.8rem;
}

p{
  color: #2a2a2a;
  font-size: 2rem;
  font-family: "WellrockSlab";
  line-height: 170%;
  margin-left: 19.8rem;
  margin-right: 19.8rem;
  font-weight: lighter;
}

a {
  font-weight: bold;
  color: #8F8ACD;
  text-decoration: none;
  font-family: "WellrockSlabBold";
}

br {
  line-height: .2rem;
}

.navbar{

} */

/* Trunk Summary */

/* .trunk-summary{
  background-image: url("../images/summary-background.png");
  background-repeat: no-repeat;
}

.trunk-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.6rem;
  width: 50%;
}

section.trunk-title h1{
  font-family: "Champagne & Limousines";
  font-size: 15rem;
  text-align: center;
  color: #8B8100;
  font-weight: bold;
  margin-top: 10rem;
}


.trunk-underline{
  align-items: center;
  width: 40%;
  margin-top: 0rem;
}


.prototype-link{
  text-decoration: none;
  color: #8F8ACD;
  font-size: 3.5rem;
  letter-spacing: .2rem;
  font-weight: lighter;
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}

.trunk-summary p {
  color: #fff;
  font-weight: 100;
}

.trunk-summary h1{
  margin-top: 7rem;
  margin-bottom: 4.7rem;
}

section.problem h2{
  margin-left: 19.8rem;
  margin-right: 19.8rem;
  margin-top: 3rem;

}

section.solution h2{
  margin-left: 0rem;
  margin-bottom: 4rem;
  margin-top: 3rem;

}

section.problem-sol{
  display: flex;
  justify-content: center;
  padding-bottom: 18rem;
}

section.problem p{
  margin-right: 4rem;
  padding-right: 0rem;
}

section.solution p{
  margin-left: 0rem;
} */


/* Process */


/* Footer */
/* footer{
    background-image: url("../images/footer-background.png");
    background-repeat: no-repeat;
}

.footer-connect h1{
  color: #9486B5;
  font-family: "Champagne & Limousines";
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  padding-top: 14rem;
  margin-bottom: 7.2rem;
  letter-spacing: .35rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.linkedin {
  float: left;
  margin-left: 34rem;
}

.email {
  float: left;
  margin-left: 9rem;
}

.twitter {
  float: left;
  margin-left: 9rem;
}

.github {
  float: right;
  margin-right: 34rem;
}

.designed h4{
  font-size: 3rem;
  color: #fff;
  letter-spacing: .3rem;
  font-family: "WellrockSlab";
  text-align: center;
  margin-top: 22rem;
  padding-bottom: 7rem;
} */
